
.lm_tab {
  overflow-x: hidden !important;
  background-color: var(--toolbar-bg) !important;
  height: 27px !important;
  width: 150px !important;
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
  margin-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  box-shadow: none !important;

  .lm_title {
    font-size: 0.875rem !important;
    font-weight: normal !important;
    color: var(--tab-title-color) !important;
  }
  &:hover {
    background-color: var(--tab-hover-bg) !important;
  }
}

.lm_header {
  border: 0 !important;
  display: flex !important;
  align-items: center !important;
  
  .lm_tab.lm_active.lm_focused{
    background-color: var(--tab-active-bg) !important;
    margin: 0 !important;
    margin-right: 2px !important;
  }
}
.lm_dropTargetIndicator {
  min-width: 187px !important;
}
.lm_drop_tab_placeholder {
  min-width: 187px !important;
}

.lm_controls {
  right: 5px !important;
}

.lm_close_tab {
  height: 100% !important;
  top: 0 !important;
  right: 15px !important;
  opacity: 0.3 !important;
  &:hover {
    opacity: 1 !important;
  }
}

.lm_content {
  background-color: var(--layout-bg) !important;
}

.lm_splitter {
  &.lm_horizontal{
    width: 3px !important;
  }
  &.lm_vertical{
    height: 3px !important;
  }
}
.lm_items {
  height: 100% !important;
}
