/* Contenedor principal */
.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 35px 1fr;
  background-color: var(--layout-bg);
}

.toolbarContainer {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: var(--toolbar-bg);
}

.layoutContainer {
  width: 100%;
  height: 100%;
}