.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 35px 100fr;
  background-color: black;
}
.toolbarContainer{
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #111415;
}
.layoutContainer{
  width: 100%;
  height: 100%;
}
