<div class="container">
  <section class="layoutSection">
    <button mat-button [matMenuTriggerFor]="layout">Layout</button>
    <mat-menu #layout="matMenu">
      <button mat-menu-item (click)="saveLayout()">Save Layout</button>
      <button mat-menu-item [matMenuTriggerFor]="load">Load Layout</button>
      <button mat-menu-item>Clean Layout</button>
    </mat-menu>

    <mat-menu #load="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="presets">Presets</button>
      <button mat-menu-item (click)="loadlayout('custom')">Load Custom Preset</button>
    </mat-menu>

    <mat-menu #presets="matMenu">
      <button mat-menu-item>Stack Preset</button>
      <button mat-menu-item>Row Preset</button>
      <button mat-menu-item>Column Preset</button>
      <button mat-menu-item>Combined Preset</button>
    </mat-menu>
  </section>

  <section class="componentsSection">
    <button mat-button [matMenuTriggerFor]="components">Components</button>
    <mat-menu #components="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="newComponents">Add New Component</button>
    </mat-menu>

    <mat-menu #newComponents="matMenu">
      <button mat-menu-item (click)="addComponent('test')">Test</button>
      <button mat-menu-item (click)="addComponent('table')">Table</button>
    </mat-menu>
  </section>

</div>
