<div class="container">
  <section class="layoutSection">
    <button mat-button [matMenuTriggerFor]="layout">Layout</button>
    <mat-menu #layout="matMenu">
      <button mat-menu-item (click)="saveLayout()">Save Layout</button>
      <button mat-menu-item [matMenuTriggerFor]="load">Load Layout</button>
      <button mat-menu-item (click)="clearLayout()">Clean Layout</button>
    </mat-menu>

    <mat-menu #load="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="presets">Presets</button>
      <button mat-menu-item (click)="loadLayout(PresetType.Custom)">Load Custom Preset</button>
    </mat-menu>

    <mat-menu #presets="matMenu">
      <button mat-menu-item (click)="loadLayout(PresetType.Stack)">Stack Preset</button>
      <button mat-menu-item (click)="loadLayout(PresetType.Row)">Row Preset</button>
      <button mat-menu-item (click)="loadLayout(PresetType.Column)">Column Preset</button>
      <button mat-menu-item (click)="loadLayout(PresetType.Combined)">Combined Preset</button>
    </mat-menu>
  </section>

  <section class="componentsSection">
    <button mat-button [matMenuTriggerFor]="components">Components</button>
    <mat-menu #components="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="newComponents">Add New Component</button>
    </mat-menu>

    <mat-menu #newComponents="matMenu">
      <button mat-menu-item (click)="addComponent(ComponentType.Test)">Test</button>
      <button mat-menu-item (click)="addComponent(ComponentType.Table)">Table</button>
      <button mat-menu-item (click)="addComponent(ComponentType.Tree)">Tree</button>
      <button mat-menu-item [matMenuTriggerFor]="graphs">Graph</button>
    </mat-menu>
    <mat-menu #graphs="matMenu">
      <button mat-menu-item (click)="addComponent(ComponentType.VerticalGraph)">Vertical Bar Chart</button>
      <button mat-menu-item (click)="addComponent(ComponentType.HorizontalGraph)">Horizontal Bar Chart</button>
      <button mat-menu-item (click)="addComponent(ComponentType.PieGraph)">Pie Bar Chart</button>
    </mat-menu>
  </section>
</div>